.testimonial {
    
    margin: 70px auto;
    padding: 0 70px;
    position: relative;
}

.next-btn, .back-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: cadetblue;
}

.back-btn {
    right: auto;
    left: 0;
}

.slider {
    overflow: hidden;
}

.slider ul {
    display: flex;
    width: 200%;
    overflow-x: hidden;
    transition: 0.75s;
}

.slider ul li {
    list-style: none;
    width: 50%;
    padding: 20px;
}

.slide{
    box-shadow: 0 0 20px rgba(1, 15, 15, 0.08);
    padding: 40px;
    border-radius: 10px;
    color: rgb(15, 72, 72);
    line-height: 1.4;
}

.slide img {
    width: 70px;
    border-radius: 50%;
    border: 5px solid rgb(120, 165, 166);
    margin-right: 10px;
}

.user-info {
   display: flex;
   align-items: centre;
   margin: 30px 0px; 
}

h3 {
    color: rgb(120, 165, 166);
}


/*--------------  Media Query  ---------------*/

@media (max-width: 800px) {
    .testimonial{
        padding: 0 40px;
    }

    .back-btn, .next-btn {
        padding: 10px;
        width: 35px;
    }

    .testimonial ul li {
        padding: 10px;
    }

    .slide {
        padding: 10px;
    }

    .slide img {
        width: 50px;
        border: 2px solid rgb(120, 165, 166);
    }
}

@media (max-width: 600px) {
    .user-info{
        display: block;
        margin-bottom: 10px;
        font-size: 12px;
    }

    .user-info h3 {
        font-size: 16px;
    }

    .slider p {
        font-size: 12px;
    }

    
}